
<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to JustPublish.org</title>
    </head>    
    <body>
        <h1>Getting started</h1>
        
        <p>
            Just type in URL for example http://justpublish.org/your-name 
            and it's yours. You can do with it anything you like.
        </p>
        
        <p>
            When you are ready to publish your content
            enter your email and click PUBLISH.
        </p>
        
        <p>
            We will send you an email with secret key
            you can use to edit your content in future.
        </p>
    </body>
</html>